{% extends 'core/base.html'%}

{%block title%} Change Password{%endblock%}

{% block content%}
<div class="container text-center">
    <form method="POST">
        <h1>Change Pasword</h1>
            {% csrf_token %}
            <div class="mb-3 ">
              <label for="password1" class="form-label">New Password</label>
              <input type="password" class="form-control" placeholder="Enter your new password" name="password1" aria-describedby="emailHelp">
            </div>

            <div class="mb-4 ">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm new password" name="password2" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-25">Change Password</button>
            </div>
            <!-- <div class="p-2 mb-3 div center">
              {{form.as_p }}
            </div>
            <div class="div text-center">
              <button type="submit" class="btn btn-primary mt-2 w-25"> Change Password </button>
            </div> -->
    </form>
</div>

{%endblock%}