{% extends 'core/base.html'%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

{% block onload_js%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha3/js/bootstrap.min.js" integrity="sha512-wOLiP6uL5tNrV1FiutKtAyQGGJ1CWAsqQ6Kp2XZ12/CvZxw8MvNJfdhh0yTwjPIir4SWag2/MHrseR7PRmNtvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{%block title%}Feeds{%endblock%}
{% block content%}
        {% if messages %}
            {% for message in messages %} 
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close w-25 mb-2" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>      
            {%endfor%}
        {% endif %}
<h1 class="text-center p-2 d-block"></h1>
<div class="div container d-flex flex-row flex-wrap justify-content-center">
    {% for file in files %}
    <a href="{% url 'feed_detail' file.id %}" class="menu">
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">{{ file.filename}}</h2>
                
                {% if file.pdf%}
                <a href="{{ file.pdf.url }}" target="_blank"  class="w-200 h-240 display-block" >{{ file.filename }}</a>
                {% endif %}
                

                {% if file.audio %}
                <audio controls class="w-100 h-70">
                    <source src="  {{ file.audio.url }} " alt="{{ file.filename}}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
                {% endif %}

                {% if file.video %}
                <video controls class="w-100 h-50">
                    <source src="  {{ file.video.url }} " alt="{{ file.filename}}" type="audio/wav">
                    Your browser does not support the audio element.
                </video>
                {% endif %}

                {% if file.image %}
                <img src="{{ file.image.url }}" alt="{{ file.filename }}" class="w-100 h-80">
                {% endif %}
                
                <p><h5 class="card-title">{{ file.description|truncatechars:23}}</h5></p>
                
                <p class="card-text">Click to Preview </p>
                
                <div class="div container justify-content-center text-center p-2">
                    <a href="{% url 'send_page' file.id%}"  class="btn btn-primary mt-2">Send to mail</a>
                </div>

                <div class="div container justify-content-center text-center p-2">
                    <a href="{% url 'download_file' file.id%}"  download="{{file.title}}" class="btn btn-primary mt-2">Download</a>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{%endblock%}