{% extends 'core/base.html'%}

{% block title%} Forgot Password{% endblock %}

{% block content%}
<div class="container text-center">
    <form method="POST">
        <h1>Forgot Pasword</h1>
            {% csrf_token %}
                <div class="mb-3 ">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="Enter your registered email" name="email" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-25">Submit</button>
                </div>
    </form>
</div>
{%endblock%}